<div class="flex-container" style="padding: 20px 0 0 0; height: 100vh">
  <div class="absolute-card">
    <div class="card-header">

    </div>
    <div class="card-footer">
      <div class="content-container-header" style="padding: 20px">
        <span>{{ formatCardNumber(cardNumber) || '0000-0000-0000-0000'}}</span>
        <span>{{padWithLeadingZeros(expirationMonth,2) || '00'}}/{{padWithLeadingZeros(expirationYear,4) ||
          '0000'}}</span>
      </div>
      <div class="content-container-footer" style="padding-left: 20px">
        <span>{{cardholderName}}</span>
      </div>
    </div>
  </div>
  <div class="form-container">
    <form [formGroup]="paymentFormGroup">
      <div>
        <label for="cardNumber">Card Number</label>
        <input mdInput type="text" id="number-input" formControlName="cardNumber" [(ngModel)]="cardNumber">
        <mat-error *ngIf="paymentFormGroup.get('cardNumber')?.touched && paymentFormGroup.get('cardNumber')?.invalid">
          <p id="number-input-error">{{getErrorMessage('cardNumber')}}</p>
        </mat-error>
      </div>
      <div>
        <label for="cardholderName">Cardholder Name</label>
        <md-input-container>
          <input mdInput type="text" id="name-input" formControlName="cardholderName" [(ngModel)]="cardholderName">
        </md-input-container>

        <mat-error
          *ngIf="paymentFormGroup.get('cardholderName')?.touched && paymentFormGroup.get('cardholderName')?.invalid">
          <p id="name-input-error">{{getErrorMessage('cardholderName')}}</p>
        </mat-error>
      </div>
      <div>
        <label for="expirationMonth">Expiration Month</label>
        <md-input-container>
          <input mdInput type="number" id="month-input" formControlName="expirationMonth"
            (input)="formatMounthInput($event)" [(ngModel)]="expirationMonth">
        </md-input-container>
        <mat-error
          *ngIf="paymentFormGroup.get('expirationMonth')?.touched && paymentFormGroup.get('expirationMonth')?.invalid">
          <p id="month-input-error">{{getErrorMessage('expirationMonth')}}</p>
        </mat-error>
      </div>
      <div>
        <label for="expirationYear">Expiration Year</label>
        <md-input-container>
          <input mdInput type="number" id="year-input" pattern="[0-9]*" (input)="formatYearInput($event)"
            formControlName="expirationYear" [value]="currentYear" [(ngModel)]="expirationYear">
        </md-input-container>
        <mat-error
          *ngIf="paymentFormGroup.get('expirationYear')?.touched && paymentFormGroup.get('expirationYear')?.invalid">
          <p id="year-input-error">{{getErrorMessage('expirationYear')}}</p>
        </mat-error>
      </div>
      <div>
        <label for="cvvCvc">CVV/CVC</label>
        <md-input-container>
          <input matInput type="number" pattern="[0-9]*" id="cvv-input" formControlName="cvvCvc"
            (input)="formatCVVInput($event)">
        </md-input-container>
        <mat-error *ngIf="paymentFormGroup.get('cvvCvc')?.touched && paymentFormGroup.get('cvvCvc')?.invalid">
          <p id="cvv-input-error">{{getErrorMessage('cvvCvc')}}</p>
        </mat-error>
      </div>
    </form>
    <button id="submit-button" mat-raised-button color="primary"
      [disabled]="!paymentFormGroup.valid || !paymentFormGroup.touched" type="submit">Submit</button>
  </div>
</div>